@model PostDetailsViewModel
@{
    ViewData["Title"] = Model.Title;
    var content = System.Text.RegularExpressions.Regex.Replace(Model.Content, @"^[ \t]+", "", System.Text.RegularExpressions.RegexOptions.Multiline);
}

<div class="post-detail-container">

    <div class="container-left">
        @* 封面 *@
        @if (!string.IsNullOrEmpty(Model.ThumbnailUrl))
        {
            <div class="thumbnail">
                <img src="@Model.ThumbnailUrl" alt="@Model.Title" />
            </div>
        }

        @* 点赞 *@
        <div class="like-section">
            <p>If you like this post, please give it a like!</p>
            <button class="primary-btn button" id="likeBtn" data-postid="@Model.Id">
                <i class="fa fa-heart"></i> Like
            </button>
        </div>

        @* 文章內容 *@
        <div class="post-content">@Html.Raw(content)</div>
    </div>
    <div class="container-right">
        <div class="post-info">
            <h1>@Model.Title</h1>
            <div class="post-author-section">
                <div class="left">
                    <img src="@(string.IsNullOrEmpty(Model.AuthorAvatarUrl) ? "/images/avatar_default.png" : Model.AuthorAvatarUrl)" class="author-avatar" />
                </div>              
                <div class="right">
                    <div class="top">
                        <span class="author-name">@Model.AuthorName</span>
                    </div>
                    <div class="bottom">
                        <span class="post-date">@Model.CreatedAt.ToString("yyyy-MM-dd")</span>
                        <div class="post-stats">
                            <span class="eye-icon"><i class="fa fa-eye"></i> @Model.ViewCount</span>
                            <span class="like-icon active" id="likeCount"><i class="fa fa-heart"></i> @Model.LikeCount</span>

                            @Html.AntiForgeryToken()
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 评论标题 -->
        <h2 class="comment-section-title">Comments (@Model.Comments.Count)</h2>

        <!-- 发布评论 -->
        <div class="comment-post">
            <textarea id="commentContent" data-postid="@Model.Id" placeholder="Write your comment..." rows="3"></textarea>
            <button id="postCommentBtn" class="primary-btn">Upload</button>
        </div>

        <div class="comment-container">
        </div>
    </div>


</div>

@section Styles {
    <link rel="stylesheet" href="~/css/pages/community.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pages/post-detail.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/js/components/likes.js" asp-append-version="true"></script>
    <script src="~/js/components/comment.js" asp-append-version="true"></script>
}