@{
    Layout = "_AdminLayout";
}
@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<OnlineGameStoreSystem.Models.ViewModels.CommentManagementVM>

<div class="admin-container">
    <h1 class="panel-title">@ViewData["Title"]</h1>
    <p class="panel-description">@ViewData["Description"]</p>

    <!-- Search -->
    <div class="search-box">
        <form method="get" action="/Admin/CommentManagement">
            <input id="searchInput"
                   name="search"
                   type="text"
                   placeholder="Search by user..."
                   value="@Context.Request.Query["search"]"
                   aria-label="search-input">

            <button type="submit" class="primary-btn">Search</button>
        </form>
    </div>

    <div class="panel">
        <table class="panel-table">
            <thead>
                <tr>
                    <th>CommentId</th>
                    <th>User</th>
                    <th>Comment</th>
                    <th>Comment Date</th>
                    <th class="action-col">Action</th>
                </tr>
            </thead>

            <tbody>

                <!-- Hidden Remove Form -->
                <form id="removeCommentForm" asp-controller="Admin" asp-action="RemoveComment" method="post" style="display:inline;">
                    @Html.AntiForgeryToken()
                    <input id="removeCommentId" type="hidden" name="commentId" value="" />
                </form>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CommentId</td>

                        <td>
                            <a class="flex-row" style="gap: 5px"
                               asp-controller="Profile"
                               asp-action="ViewPage"
                               asp-route-userId="@item.UserId">
                                <img src="@item.AvatarUrl" class="avatar" />
                                <span>@item.UserName</span>
                            </a>
                        </td>

                        <td>@item.CommentContent</td>

                        <td>@item.CommentDate.ToString("yyyy-MM-dd HH:mm")</td>

                        <td class="action-col">
                            <div class="button-group">
                                @* <a class="button secondary-btn"
                                   asp-controller="Community"
                                   asp-action="CommentDetail"
                                   asp-route-id="@item.CommentId">
                                    View
                                </a> *@

                                <button data-comment-id="@item.CommentId"
                                        type="submit"
                                        class="danger-btn remove-comment-btn">
                                    Remove
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="panel-pager">
        @Html.PagedListPager(
        Model,
        page => Url.Action("CommentManagement", new { page }),
                PagedListRenderOptions.ClassicPlusFirstAndLast
                )
    </div>
</div>
