@{
    Layout = "_AdminLayout";
}
@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<OnlineGameStoreSystem.Models.ViewModels.GameManagementVM>

<div class="admin-container">
    <h1 class="panel-title">@ViewData["Title"]</h1>
    <p class="panel-description">@ViewData["Description"]</p>

    <div class="search-box">
        <form method="get" action="/Admin/GameManagement">
            <input id="searchInput"
                   name="search"
                   type="text"
                   placeholder="Search by title or developer name..."
                   value="@Context.Request.Query["search"]"
                   aria-label="search-input">

            <button type="submit" class="primary-btn">Search</button>
        </form>
    </div>


    <div class="panel">
        <table class="panel-table">
            <thead>
                <tr>
                    <th>GameId</th>
                    <th>Thumbnail</th>
                    <th>Title</th>
                    <th>DeveloperName</th>
                    <th>Price</th>
                    <th>Tags</th>
                    <th>Status</th>
                    <th>CreatedAt</th>
                    <th class="action-col">Action</th>
                </tr>
            </thead>

            <tbody>
                <!-- Approve 表单 -->
                <form id="approveGameForm" asp-controller="Admin" asp-action="ApproveGame" method="post" style="display:inline;">
                    @Html.AntiForgeryToken()
                    <input id="approveGameId" type="hidden" name="gameId" value="" />
                    <input id="approveGameStatus" type="hidden" name="approve" value="true" />
                </form>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.GameId</td>
                        <td>
                            <a asp-controller="Home" asp-action="GameDetail" asp-route-name="@item.Title.Replace('_',' ')">
                                <img class="game-management-video" src="@item.ThumbnailUrl" />
                            </a>
                        </td>
                        <td>
                            <a asp-controller="Home" asp-action="GameDetail" asp-route-name="@item.Title.Replace('_', ' ')">
                                @item.Title
                            </a>
                        </td>
                        <td>
                            <a asp-controller="Profile" asp-action="ViewPage" asp-route-userId="@item.DeveloperId">
                                @item.DeveloperName
                            </a>
                        </td>
                        <td>RM @item.Price</td>
                        <td class="tags">
                            @foreach (var tag in item.Tags)
                            {
                                <p class="tag">@tag</p>
                            }
                        </td>
                        <td>@item.Status</td>
                        <td>@item.CreatedAt</td>

                        <td class="action-col">
                            <div class="button-group">
                                <a asp-controller="Admin" asp-action="GameReview" asp-route-gameId="@item.GameId" class="button secondary-btn">Review</a>
                                <button data-game-id="@item.GameId" type="submit" class="danger-btn remove-game-btn">Remove</button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="panel-pager">
        @Html.PagedListPager(
        Model,
        page => Url.Action("GameManagement", new { page }),
                PagedListRenderOptions.ClassicPlusFirstAndLast
                )
    </div>
</div>
