@{
    Layout = "_AdminLayout";
}
@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<OnlineGameStoreSystem.Models.ViewModels.StatusManageVM>

<div class="admin-container">
    <h1 class="panel-title">@ViewData["Title"]</h1>
    <p class="panel-description">@ViewData["Description"]</p>

    <div class="search-box">
        <form method="get" action="/Admin/StatusManage">
            <input id="searchInput"
                   name="search"
                   type="text"
                   placeholder="Search by name..."
                   value="@Context.Request.Query["search"]"
                   aria-label="search-input">

            <button type="submit" class="primary-btn">Search</button>
        </form>
    </div>


    <div class="panel">
        <table class="panel-table">
            <thead>
                <tr>
                    <th>UserId</th>
                    <th>UserName</th>
                    <th>UserEmail</th>
                    <th>Status</th>
                    <th class="action-col">Action</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.UserId</td>
                        <td>
                            <div>
                                <a class="flex-row" style="gap: 5px" asp-controller="Profile" asp-action="ViewPage" asp-route-userId="@item.UserId">
                                    <img src="@item.AvatarUrl" class="avatar" />
                                    <span>@item.UserName</span>
                                </a>
                            </div>
                        </td>
                        <td>@item.UserEmail</td>
                        <td>@item.Status</td>

                        <td class="action-col">
                            <div class="button-group">
                                <a asp-controller="Admin" asp-action="EditUser" asp-route-id="@item.UserId" class="button secondary-btn">Edit</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="panel-pager">
        @Html.PagedListPager(
        Model,
        page => Url.Action("StatusManage", new { page }),
                PagedListRenderOptions.ClassicPlusFirstAndLast
                )
    </div>
</div>
