@model List<TopGameViewModel>

<div class="carousel">
    <button class="carousel-btn prev">&#10094;</button>
    <button class="carousel-btn next">&#10095;</button>

    <div class="carousel-viewport">
        <div class="carousel-track">

            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="carousel-item">
                    <a class="thumbnail" asp-controller="Home" asp-action="GameDetail" asp-route-name="@Model[i].Title.Replace(' ', '_')">
                        <img class="main-img main-img-top" src="@Model[i].ThumbnailUrl" alt="@Model[i].Title">
                        <img class="main-img main-img-bottom" src="@Model[i].ThumbnailUrl" alt="@Model[i].Title">

                        <div class="progress-bar-container">
                            <div class="progress-bar"></div>
                        </div>
                    </a>

                    <div class="game-info">
                        <h2 class="game-title">@Model[i].Title</h2>

                        <div class="thumbs">
                            @foreach(var imageUrl in Model[i].ImageUrls)
                            {
                                <img src="@imageUrl">
                            }
                        </div>

                        <div class="tags">
                            <span>Cyberpunk</span>
                            <span>Open World</span>
                            <span>RPG</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="carousel-footer">

        <div class="carousel-dots">

        </div>
    </div>
</div>

