@model List<TopGameViewModel>

<div class="carousel">
    <button class="carousel-btn prev">&#10094;</button>
    <button class="carousel-btn next">&#10095;</button>

    <div class="carousel-viewport">
        <div class="carousel-track">

            @foreach(var game in Model)
            {
                <div class="carousel-item">
                        <a class="thumbnail" asp-controller="Home" asp-action="GameDetail" asp-route-name="@game.Title.Replace(' ', '_')">
                            <img class="main-img main-img-top" src="@game.ThumbnailUrl" alt="@game.Title">
                            <img class="main-img main-img-bottom" src="@game.ThumbnailUrl" alt="@game.Title">

                        <div class="progress-bar-container">
                            <div class="progress-bar"></div>
                        </div>
                    </a>

                    <div class="game-info">
                            <h2 class="game-title">@game.Title</h2>

                        <div class="thumbs">
                                @foreach (var imageUrl in game.ImageUrls)
                            {
                                <img src="@imageUrl">
                            }
                        </div>

                        <div class="tags">
                            @foreach(var tag in game.TagName)
                            {
                                <span>@tag</span>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="carousel-footer">

        <div class="carousel-dots">

        </div>
    </div>
</div>

